In [1]:
import pandas as pd
from modules.lavenshtein import lavenshtein, get_laven
import os
from multiprocessing import Pool
from tqdm import tqdm

In [5]:
users_data = pd.read_csv("data/interim/Users.csv").tail(10)
with Pool() as p:
    result = p.map(get_laven, users_data.to_dict('records'))
result_df = pd.DataFrame(result)

Process SpawnPoolWorker-12:
Traceback (most recent call last):
  File "/Library/Developer/CommandLineTools/Library/Frameworks/Python3.framework/Versions/3.8/lib/python3.8/multiprocessing/process.py", line 315, in _bootstrap
    self.run()
  File "/Library/Developer/CommandLineTools/Library/Frameworks/Python3.framework/Versions/3.8/lib/python3.8/multiprocessing/process.py", line 108, in run
    self._target(*self._args, **self._kwargs)
  File "/Library/Developer/CommandLineTools/Library/Frameworks/Python3.framework/Versions/3.8/lib/python3.8/multiprocessing/pool.py", line 114, in worker
    task = get()
  File "/Library/Developer/CommandLineTools/Library/Frameworks/Python3.framework/Versions/3.8/lib/python3.8/multiprocessing/queues.py", line 358, in get
    return _ForkingPickler.loads(res)
  File "/Users/hamsterlord/Desktop/GitHub/BillDatathon2023/modules/lavenshtein.py", line 4, in <module>
    from fuzzywuzzy import fuzz
ModuleNotFoundError: No module named 'fuzzywuzzy'

KeyboardInterrupt:

In [3]:

final_df = result_df

final_df = pd.concat([final_df.reset_index(drop=True),users_data["documentid"].reset_index(drop=True)],axis = 1)
#final_df.to_csv(os.path.join('data/final/', "final.csv"))
display(final_df)
final_df.to_csv(os.path.join('data/final/', "final.csv"))
display(result_df)
for i in result_df['pot_doc']:
    print(len(i))

,pot_doc,pot_name,pot_price,pot_date,pot_address,documentid
0,"[00d0708763656, 00d0551541808, 00d0921867955, ...","[10, 9, 8, 2, 8, 2, 8, 8, 8, 8, 8, 12, 11, 8, ...","[8, 4, 3, 3, 3, 4, 3, 3, 2, 3, 3, 3, 4, 3, 3, ...","[8, 7, 7, 7, 7, 8, 5, 8, 7, 5, 5, 8, 9, 8, 8, ...","[3, 3, 3, 3, 3, 3, 3, 3, 3, 4, 3, 3, 4, 3, 3, ...",00d0624439175
1,[00d0599930970],[16],[4],[6],[8],00d0654270874
2,"[00d0930689679, 00d0734493835, 00d0546591203, ...","[3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[5, 2, 4, 3, 3, 3, 4, 4, 5, 3, 3, 3, 3, 3, 2, ...","[7, 7, 7, 7, 7, 6, 7, 7, 7, 6, 7, 7, 7, 7, 7, ...","[6, 8, 8, 8, 8, 8, 8, 8, 6, 8, 8, 8, 8, 8, 8, ...",00d0403711886
3,[00d0956164753],[4],[5],[6],[21],00d0956164753
4,[00d0667839698],[2],[5],[9],[9],00d0667839698
...,...,...,...,...,...,...
494,[00d0697219524],[0],[2],[8],[23],00d0223498663
495,"[00d0726102139, 00d0206227401, 00d0784103375, ...","[0, 0, 0, 0, 15, 0, 0, 0, 0, 0, 0, 15, 0, 0, 0...","[1, 1, 3, 1, 3, 1, 1, 3, 3, 2, 1, 3, 3, 1, 3, ...","[7, 7, 6, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, ...","[9, 9, 9, 9, 6, 9, 9, 9, 9, 9, 9, 6, 9, 9, 9, ...",00d0206227401
496,"[00d0523654121, 00d0716702145, 00d0898930568, ...","[11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 1...","[3, 3, 1, 2, 3, 2, 3, 3, 2, 3, 3, 3, 2, 3, 1, ...","[6, 6, 5, 6, 6, 6, 10, 5, 6, 6, 5, 6, 6, 6, 6,...","[6, 5, 5, 5, 6, 5, 3, 5, 5, 6, 5, 7, 5, 5, 6, ...",00d0898930568
497,"[00d0749666123, 00d0397644256, 00d0910574175, ...","[0, 11, 0, 11]","[3, 1, 3, 3]","[8, 8, 8, 8]","[19, 5, 19, 7]",00d0397644256
498,"[00d0726102139, 00d0206227401, 00d0784103375, ...","[0, 0, 0, 0, 15, 0, 0, 0, 0, 0, 0, 15, 0, 0, 0...","[3, 3, 2, 3, 3, 3, 3, 3, 2, 2, 3, 3, 2, 3, 3, ...","[7, 7, 7, 7, 8, 7, 7, 7, 8, 8, 7, 8, 8, 7, 8, ...","[9, 9, 9, 9, 6, 9, 9, 9, 9, 9, 9, 6, 9, 9, 9, ...",00d0692152542

,pot_doc,pot_name,pot_price,pot_date,pot_address
0,"[00d0708763656, 00d0551541808, 00d0921867955, ...","[10, 9, 8, 2, 8, 2, 8, 8, 8, 8, 8, 12, 11, 8, ...","[8, 4, 3, 3, 3, 4, 3, 3, 2, 3, 3, 3, 4, 3, 3, ...","[8, 7, 7, 7, 7, 8, 5, 8, 7, 5, 5, 8, 9, 8, 8, ...","[3, 3, 3, 3, 3, 3, 3, 3, 3, 4, 3, 3, 4, 3, 3, ..."
1,[00d0599930970],[16],[4],[6],[8]
2,"[00d0930689679, 00d0734493835, 00d0546591203, ...","[3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[5, 2, 4, 3, 3, 3, 4, 4, 5, 3, 3, 3, 3, 3, 2, ...","[7, 7, 7, 7, 7, 6, 7, 7, 7, 6, 7, 7, 7, 7, 7, ...","[6, 8, 8, 8, 8, 8, 8, 8, 6, 8, 8, 8, 8, 8, 8, ..."
3,[00d0956164753],[4],[5],[6],[21]
4,[00d0667839698],[2],[5],[9],[9]
...,...,...,...,...,...
494,[00d0697219524],[0],[2],[8],[23]
495,"[00d0726102139, 00d0206227401, 00d0784103375, ...","[0, 0, 0, 0, 15, 0, 0, 0, 0, 0, 0, 15, 0, 0, 0...","[1, 1, 3, 1, 3, 1, 1, 3, 3, 2, 1, 3, 3, 1, 3, ...","[7, 7, 6, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, ...","[9, 9, 9, 9, 6, 9, 9, 9, 9, 9, 9, 6, 9, 9, 9, ..."
496,"[00d0523654121, 00d0716702145, 00d0898930568, ...","[11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 1...","[3, 3, 1, 2, 3, 2, 3, 3, 2, 3, 3, 3, 2, 3, 1, ...","[6, 6, 5, 6, 6, 6, 10, 5, 6, 6, 5, 6, 6, 6, 6,...","[6, 5, 5, 5, 6, 5, 3, 5, 5, 6, 5, 7, 5, 5, 6, ..."
497,"[00d0749666123, 00d0397644256, 00d0910574175, ...","[0, 11, 0, 11]","[3, 1, 3, 3]","[8, 8, 8, 8]","[19, 5, 19, 7]"
498,"[00d0726102139, 00d0206227401, 00d0784103375, ...","[0, 0, 0, 0, 15, 0, 0, 0, 0, 0, 0, 15, 0, 0, 0...","[3, 3, 2, 3, 3, 3, 3, 3, 2, 2, 3, 3, 2, 3, 3, ...","[7, 7, 7, 7, 8, 7, 7, 7, 8, 8, 7, 8, 8, 7, 8, ...","[9, 9, 9, 9, 6, 9, 9, 9, 9, 9, 9, 6, 9, 9, 9, ..."

49
1
23
1
1
41
29
49
1
41
48
1
11
49
25
23
5
2
2
1
18
47
12
1
48
49
1
48
18
28
0
18
1
47
23
48
3
1
2
25
25
48
2
48
3
18
41
1
2
41
2
2
23
25
3
3
48
47
49
36
25
36
0
47
25
48
18
6
3
0
5
0
23
1
41
0
13
48
3
5
1
1
2
1
29
48
49
23
3
47
1
7
4
29
1
48
49
49
4
13
47
12
4
1
4
39
29
0
0
1
7
2
48
29
5
2
0
23
4
49
49
0
48
6
0
0
5
48
0
38
4
48
2
0
1
47
49
42
1
23
48
39
18
3
23
47
36
8
18
49
23
41
49
48
28
0
49
1
2
1
3
49
48
0
1
1
2
2
5
5
47
49
48
23
3
4
48
12
5
7
1
47
1
25
47
6
2
3
18
4
48
23
4
49
48
49
47
4
0
0
2
48
0
45
3
49
42
0
49
0
48
42
0
41
0
5
1
47
0
1
0
18
2
0
48
41
1
23
41
0
47
1
48
13
3
48
2
25
43
1
3
48
6
1
2
47
36
5
1
4
41
23
41
25
25
1
41
0
1
12
2
25
48
18
1
1
0
5
48
1
41
47
2
3
2
13
41
7
3
2
49
48
34
47
11
36
1
7
4
1
1
0
25
2
49
1
1
7
25
3
2
6
1
42
23
49
0
0
4
42
5
4
1
38
49
0
2
7
1
49
1
25
1
1
2
18
5
47
49
1
3
48
49
4
2
2
45
42
49
18
0
47
4
1
1
6
81
25
0
49
3
2
48
49
12
48
5
4
1
6
23
3
3
2
40
41
1
1
1
47
1
47
0
2
47
18
6
3
48
4
0
0
41
45
49
47
18
2
2
12
41
23
3
0
1
49
1
2
5
1
29
1
41
1
0
23
5
4
3
47
36
29
13
1
49
23
0
1
12
42
3
1
2
48
4
0
5
48
7
1
0
41
0
5
49
0
49
48
4
1
4
0
2
48
4
1
1
48
12
41
49
1
23
1
28
1
29
4
2
3
47
36
1
6
41
49
23
25
42
5
49
29
42
2
49
1
3
1
25
41
23
0
3
47
18
48
49
49
25
42
48
4
3
18
1
47
25
4
47

In [4]:
# new_df = final_df.apply(lambda row: (row['documentid'] in row['doc_id1'])
# | (row['documentid'] in row['doc_id2'])
# | (row['documentid'] in row['doc_id3'])
# | (row['documentid'] in row['doc_id4'])
# | (row['documentid'] in row['doc_id5'])
# , axis=1)
# #display(new_df)
# print(new_df.value_counts()[True])