In [195]:
import pandas as pd
#from modules.lavenshtein import lavenshtein, get_laven
from Levenshtein import distance
import os
from multiprocessing import Pool
from tqdm import tqdm
from modules.rev_helper import rev_helper

In [147]:
# def adsdlavenshtein(str1, str2):
#     return distance(str1, str2)

# def custom_lavenshtein(value, text_main):
#     levan_name = text_main.apply(adsdlavenshtein, str2=str(value["vendor_name"])).min()
#     levan_date = text_main.apply(adsdlavenshtein, str2=str(value["date"])).min()
#     levan_amount = text_main.apply(adsdlavenshtein, str2=str(value["amount"])).min()
#     levan_address = text_main.apply(adsdlavenshtein, str2=str(value["vendor_address"])).min()
#     return pd.Series({"pot_doc": value["documentid"],"pot_name": (levan_name),"pot_price": levan_amount
#                  ,"pot_date": levan_date,"pot_address": levan_address})

In [205]:
columns = ["BB1", "BB2", "BB3", "BB4", "BB5", "BB6", "BB7", "BB8", "Text_Main"]
columns_labels = ["documentid","pot_doc","pot_name","pot_price","pot_date","pot_address",]
ocrdir = 'data/interim/ocr/'
levan_user = pd.DataFrame(columns=columns_labels)
users_data = pd.read_csv("data/interim/Users.csv")

file_names = [os.path.splitext(file)[0] for file in list(os.listdir(ocrdir))]
file_names = [x for x in file_names if x in users_data['documentid'].values]
file_names = [file_name + '.csv' for file_name in file_names]

with Pool() as p:
    q = p.map(rev_helper, zip(file_names, [users_data for _ in range(len(os.listdir(ocrdir)))]))
for qq in q:
    levan_user.loc[len(levan_user)] = qq

In [216]:
levan_user
count = 0
# for i in levan_user['pot_doc']:
#     print(len(i))
print(levan_user['pot_doc'].apply(lambda x: len(x) > 0).sum()
)

473

In [193]:

# users_data = pd.read_csv("data/interim/Users.csv").tail(10)
# with Pool() as p:
#     result = p.map(get_laven, users_data.to_dict('records'))
# result_df = pd.DataFrame(result)

                                            documentid
0          Series([], Name: documentid, dtype: object)
1    6      00d0164592408
29     00d0164592408
84  ...
2    234    00d0696518680
420    00d0696518680
424 ...
3    6      00d0530724847
29     00d0530724847
84  ...
4          Series([], Name: documentid, dtype: object)
..                                                 ...
494  5      00d0844880238
9      00d0844880238
46  ...
495        Series([], Name: documentid, dtype: object)
496  203    00d0726523245
282    00d0726523245
294 ...
497        Series([], Name: documentid, dtype: object)
498        Series([], Name: documentid, dtype: object)

[499 rows x 1 columns]

In [ ]:

# final_df = result_df

# final_df = pd.concat([final_df.reset_index(drop=True),users_data["documentid"].reset_index(drop=True)],axis = 1)
# #final_df.to_csv(os.path.join('data/final/', "final.csv"))
# display(final_df)
# final_df.to_csv(os.path.join('data/final/', "final.csv"))
# display(result_df)

      0     documentid
0  None  00d0849102191
1  None  00d0892818805
2  None  00d0555910882
3  None  00d0343987945
4  None  00d0453489586
5  None  00d0223498663
6  None  00d0206227401
7  None  00d0898930568
8  None  00d0397644256
9  None  00d0692152542

      0
0  None
1  None
2  None
3  None
4  None
5  None
6  None
7  None
8  None
9  None

KeyError: 'pot_doc'

In [ ]:
# new_df = final_df.apply(lambda row: (row['documentid'] in row['doc_id1'])
# | (row['documentid'] in row['doc_id2'])
# | (row['documentid'] in row['doc_id3'])
# | (row['documentid'] in row['doc_id4'])
# | (row['documentid'] in row['doc_id5'])
# , axis=1)
# #display(new_df)
# print(new_df.value_counts()[True])